<!-- views/home.handlebars -->

<!DOCTYPE html>
<html>
<head>
  <title>Página Inicial</title>
</head>
<body>
  <h1>Pesquisa de Séries</h1>
  
  <form action="/serie" method="GET">
    <input type="text" name="nome" placeholder="Digite o nome da série">
    <button type="submit">Pesquisar</button>
  </form>
</body>
</html>
