<!-- views/serie.handlebars -->

<!DOCTYPE html>
<html>
<head>
  <title>Série</title>
</head>
<body>
 <h1>Resultados da pesquisa</h1>

{{#if series}}
  <ul>
    {{#each series}}
      <li>{{this.dataValues.nome}} - {{this.dataValues.descricao}}</li>
    {{/each}}
  </ul>
{{else}}
  <p>Nenhum resultado encontrado para a pesquisa "{{pesquisa}}".</p>
{{/if}}
</body>
</html>
